
<div class="card overflow-hidden">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2 server-nav">
            <div class="upsidedown">
                <ul class="server-navlist">
                    <li class="nav-item"><NavLink href="@($"/server/{ServerId}")" Match="NavLinkMatch.All" class="nav-link">Oversigt</NavLink></li>
                    <li class="nav-item"><NavLink href="@($"/server/{ServerId}/console")" class="nav-link">Konsol</NavLink></li>
                    <li class="nav-item"><NavLink href="@($"/server/{ServerId}/config")" class="nav-link">Konfiguration</NavLink></li>
                    <li class="nav-item"><NavLink href="@($"/server/{ServerId}/storage")" class="nav-link">Storage</NavLink></li>
                    <li class="nav-item"><NavLink href="@($"/server/{ServerId}/backup")" class="nav-link">Backup</NavLink></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-10">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter, EditorRequired] public string ServerId { get; set; }
}
