@using DockerGameServer.Components.Pages.Components
@using DockerGameServer.Models
@using DockerGameServer.Models.Enums
@inject GameServerService GameServerService
@inject UserContext UserContext
@inject FileManagementService FileManagementService
@page "/test"
@attribute [Authorize]

<h3>TestPage</h3>

<button class="btn btn-primary" @onclick="CreateTestServerAsync">Create server </button>
<div class="row g-3">
    @foreach (var server in gameServers)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@server.ServerName</h5>
                    <p class="card-text">Kind: @server.ServerKind</p>
                    <p class="card-text">State: @server.State</p>
                    @if (server.State == "running"){
                        <button class="btn btn-warning" @onclick="() => StopServerAsync(server.Id)">Stop</button>
                    }
                    else {
                        <button class="btn btn-success" @onclick="() => StartServerAsync(server.Id)">Start</button>
                    }
                    <button class="btn btn-danger" @onclick="() => RemoveTestServerAsync(server.Id)">Remove</button>
                    <button class="btn btn-info" @onclick="() => viewDir = !viewDir">Fetch directory contents</button>
                    @if (viewDir)
                    {
                        <FolderView ServerId="@server.Id" />
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="@($"row g-3 m-3 {(portInUse ? "bg-danger" : "bg-success" )}")">
    <div class="col">
        <label for="externalPort" class="form-label">External port:</label>
        <input type="number" class="form-control" id="externalPort" @bind="newServerPort" />
    </div>
    <button class="btn btn-primary" @onclick="CheckPortAsync">Check port</button>
</div>

@code {
    private List<ListGameServer> gameServers = new();

    private int newServerPort = 25565;
    private bool portInUse = false;
    private bool viewDir = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadGameServersAsync();
    }

    private async Task CheckPortAsync()
    {
        portInUse = await GameServerService.ExternalPortInUseAsync(newServerPort);
        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadGameServersAsync()
    {
        var userId = UserContext.GetSignedInUser()?.Id ?? Guid.Empty;
        gameServers = await GameServerService.GetAllByOwnerAsync(userId);

        await CheckPortAsync();
        await InvokeAsync(StateHasChanged);
    }

    private async Task CreateTestServerAsync()
    {
        var model = new CreateGameServerModel<MinecraftServer>
        {
            ServerName = "Test Server",
            ServerKind = GameServerKind.Minecraft,
            ServerConfiguration = new MinecraftServer
            {
                // Ports = new Dictionary<int, int> { { 25565, 25565 } }
            },
            Ports = new List<Port>
            {
                new Port { InternalPort = 25565, ExternalPort = 25565 }
            }
        };
        var result = await GameServerService.CreateAsync(model);
        Console.WriteLine($"Created server with ID: {result}");

        await LoadGameServersAsync();
    }

    private async Task RemoveTestServerAsync(Guid serverId)
    {
        await GameServerService.RemoveAsync(serverId);

        Console.WriteLine($"Removed server with ID: {serverId}");

        await LoadGameServersAsync();
    }

    private async Task StopServerAsync(Guid serverId)
    {
        await GameServerService.StopRunningServerAsync(serverId);
        await LoadGameServersAsync();
    }

    private async Task StartServerAsync(Guid serverId) 
    {
        await GameServerService.StartStoppedServerAsync(serverId);
        await LoadGameServersAsync();
    }
}